<div class="row">
    <div class="col col-4 col-sm">
        <h6>Feature</h6>
        <q-select :options="features" v-model="feature"></q-select>
    </div>
    <div class="col col-4 col-sm">
        <h6>Group Method</h6>
        <q-select :options="groupmethods" v-model="groupmethod"></q-select>
    </div>
    <div class="col col-4 col-sm">
        <h6>Sample Size</h6>
        <q-slider v-model="sample_size" :min="10" :max="100"></q-slider>
    </div>
    <div class="col col-4 col-sm">
        <h6>New Sampling</h6>
        <q-btn color="primary" label="RESAMPLE"></q-btn>
    </div>
</div>
<div class="row">
    <div class="col col-6 col-sm">
        <h6>One-way effect</h6>
        <plotly></plotly>
    </div>
    <div class="col col-6 col-sm">
        <h6>Feature Effect</h6>
        <plotly></plotly>
    </div>
</div>
<div class="row">
    <div class="col col-6 col-sm">
        <h6>Flux explain</h6>
        <plotly></plotly>
    </div>
    <div class="col col-6 col-sm">
        <h6>GBT explain</h6>
        <plotly></plotly>
    </div>
</div>
<div class="row">
    <div class="col col-6 col-sm">
        <h6>Flux feature importance</h6>
        <plotly></plotly>
    </div>
    <div class="col col-6 col-sm">
        <h6>GBT feature importance</h6>
        <plotly></plotly>
    </div>
</div>